{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
</head>
<body>
    <nav>
        <p>
            Home
        </p>
        <p>
            Products
        </p>
    </nav>
    <div>
    {{{body}}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html> --}}

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>

    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css'
      type='text/css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'
      type='text/css'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/css/uikit.min.css'
      type='text/css'
    />
    {{#if route.hasCSS}}
      <link
        rel='stylesheet'
        href='/static/css/{{route.cssFile}}'
        type='text/css'
      />
    {{/if}}
  </head>
  <body>
    <div class='uk-container uk-width-1-1 uk-padding-remove uk-margin-remove'>
      <nav id='navbar' class='uk-navbar-container' uk-navbar>
        <div class='uk-navbar-left'>
          <ul class='uk-navbar-nav'>
            <li class='uk-active'>
              <a href='/'>Home</a>
            </li>
            <li>
              <a href='/carrito'>Carrito<span
                  id='cart-badge'
                  class='uk-label'
                >1</span></a>
            </li>
            <li>
              <a>Cuenta</a>
              <div class='uk-navbar-dropdown'>
                <ul class='uk-nav uk-navbar-dropdown-nav'>
                  <li>
                    <a href='#'>Perfil</a>
                  </li>
                  <li>
                    <a href='/admin'>Admin</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div
        class='uk-width-1-1 uk-margin-remove uk-align-center uk-text-break uk-padding'
      >
        <h2>Productos para Vikingos y sus Dioses</h2>
        <div id='products' class='uk-child-width-1-4@m' uk-grid>
          {{{body}}}

        </div>
        

      </div>
    </div>

    {{#if route.hasSocket}}
      <script src='/socket.io/socket.io.js'></script>
    {{/if}}
    {{#if route.hasJsFile}}
      <script src='/static/js/{{route.jsFile}}'></script>
    {{/if}}
    <script
      src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit.min.js'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/uikit@3.11.1/dist/js/uikit-icons.min.js'
    ></script>
  </body>
</html>