<div class='chat uk-flex-stretch uk-height-1-1 uk-margin-remove' uk-grid>
  <div
    id='messages'
    class='uk-child-width-1-1 uk-width-1-1 uk-padding-remove uk-margin-remove'
    uk-grid
  >

  </div>

</div>
<div
  class='uk-child-width-1-1 uk-width-1-1 inputBox uk-padding-remove uk-margin-remove'
  uk-grid
>
  <input class='uk-input' type='text' placeholder='' aria-label='Input' />
</div>