#main-container {
    display: flex;
    flex-direction: column;
  }
  
  #pagination-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: left;
    align-content: center;
    border:1px solid rgb(202, 202, 238);
  }
  
  .pagination-element {
    margin: 5px;
    margin: 5px;
  }
  
  #all-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  